* {
  font-family: myraidpro-reg;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('fonts/MYRIADPRO-REGULAR.woff');
  font-family: myriadpro-reg;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* header */

header h1 {
  font-size: 80px;
  padding-top: 61px;
  padding-bottom: 45px;
}

header strong {
  color: #4bcaff;
}

nav {
  background-color: #35444f;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 41px;
  padding-left: 41px;
}

nav li a {
  color: #ffffff;
  font-size: 14pt;
  text-decoration: none;
}

.active-btn {
  background: #222f3a;
  border-left: 1px solid #495863;
  border-right: 1px solid #495863;
}

/* Article */

.article {
  margin-top: 50px;
}

aside {
  width: 344px;
  display: inline-block;
  border: 1px solid #79858d;
}

aside ul {
  list-style-type: none;
}

aside li {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 42px;
  font-size: 22px;
}

aside a {
  color: #79858d;
  text-decoration: none;
}

.aside-active-btn {
  padding-left: 70px;
  background-color: #dbdbdb;
  /* color: #000000; */
}

main {
  float: right;
  display: inline-block;
  width: 889px;
  height: 529px;
  font-size: 18pt;
}

.img-border {
  width: 885px;
  height: 529px;
  text-align: center;
  border: 1px solid black;
  padding-top: 80px;
}

.main-p1 {
  padding-top: 50px;
  padding-bottom: 35px;
}

.main-p2 {
  padding-bottom: 50px;
}

/* footer */

.footer {
  margin-top: 580px;
  margin-bottom: 30px;
  background-color: #b4b7ba;
  height: 80px;
}

.footer-left {
  display: inline-block;
}

.footer-right {
  display: inline-block;
  font-size: 18pt;
  float: right;
  padding-top: 25px;
  padding-right: 35px;
  color: #010101;
}

footer li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-left: 20px;
}

footer li a {
  color: #0c1927;
  font-size: 14pt;
  text-decoration: none;
  font-size: 18pt;
}
