.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images-to-show {
  height: 250px;
  width: 500px;
}

#stop {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px;
}

#resume {
  margin-top: 20px;
  font-size: 20px;
}
