* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.header {
  background: #1d2124;
  height: 81px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.logo {
  display: flex;
  width: 14%;
}

.logo-img {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-text {
  padding-top: 25px;
  font-weight: bold;
  font-size: 22pt;
  padding-left: 15px;
}

.logo-text a {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
}

.nav-menu ul {
  display: flex;
  justify-content: center;
}

.nav-menu li {
  padding-right: 35px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16pt;
}

.search {
  display: flex;
  background-color: #171a1c;
}

.search i {
  color: white;
  font-size: 22pt;
  padding: 25px;
}
/* Header End! */

.header-bg {
  height: 404px;
  width: 100%;
  background: url('../img/header-bg-img@1X.png') no-repeat;
  background-size: cover, contain;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 0.9;
}

/* header-bg */

.header-bg h3 {
  font-size: 27pt;
  text-align: center;
  color: white;
  padding-top: 127px;
  padding-bottom: 45px;
}

.btn-header {
  text-align: center;
}
.btn-header button {
  font-size: 18pt;
  padding: 20px;
  margin-right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  transition: all 0.4s ease-out;
}

.btn-subscribe {
  background-color: #89ca62;
}

.btn-bestart {
  background-color: #14b9d5;
}
.btn-subscribe:hover {
  background-color: #64a33e;
}

.btn-bestart:hover {
  background-color: #0b98b0;
}

/* posts */

.posts {
  background-color: #f2f2f2;
}

.title-h3 {
  font-size: 27pt;
  color: rgba(24, 180, 207, 255);
  text-align: center;
  text-transform: uppercase;
  padding-top: 43px;
  padding-bottom: 52px;
  font-weight: bold;
}

.posts .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.posts-info {
  margin-right: 65px;
  margin-bottom: 30px;
}

.posts-info p {
  padding: 25px 0;
  background-color: #ffffff;
  margin-top: -3px;
  text-align: center;
  font-size: 15pt;
  color: rgba(53, 58, 61, 255);
  font-weight: bold;
}

/* our clients*/

.clients {
  width: 100%;
  height: 598px;
  background-position: center;
  background: url('../img/Layer\ 4.png') no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}

.clients h3 {
  font-size: 32pt;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 55px;
}

.blue-line {
  width: 60px;
  margin: 0 auto;
  border-bottom: solid 3px #169cb4;
  margin-bottom: 60px;
}

.clients-container {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.clients-item img {
  padding: 20px;
}
/*  Top rated */

.top-rated-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.top-rated-container img {
  max-width: 100%;
  object-fit: contain;
}

/* hot news */

.hot-news-row-start {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
  padding-bottom: 45px;
}

.hot-news-big {
  display: grid;
  grid-template-columns: 51% 49%;
  text-decoration: none;
}

.hot-news-start-img {
  /* max-height: 100%; */
  object-fit: fill;
}

.hot-news-start-desc {
  background-color: #f9f7f7;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: end;
  align-content: center;
}

.hot-news-start-h5 {
  text-align: end;
  margin-right: 20px;
  margin-bottom: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16pt;
  color: #353a3d;
}

.hot-news-start-p {
  margin-left: 10px;
  margin-right: 20px;
  color: #5b6469;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
  text-align: end;
  padding: 20px 0;
}

.hot-news-small {
  display: grid;
  grid-template-rows: 85% 15%;
  text-decoration: none;
}

.hot-news-small-img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.hot-news-small-desc {
  background-color: #f9f7f7;
  text-align: center;
}

.hot-news-small-h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: #353a3d;
  margin: 0;
  margin-top: 10px;
}

.hot-news-row {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 60px;
  padding-bottom: 45px;
}

.hot-news-normal {
  display: grid;
  grid-template-rows: 63% 37%;
  text-decoration: none;
  background-color: #f9f7f7;
}

.hot-news-img {
  width: 100%;
  object-fit: fill;
}

.hot-news-desc {
  background-color: #f9f7f7;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: end;
  align-content: center;
  padding-right: 20px;
}

.hot-news-h5 {
  text-align: end;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16pt;
  color: #353a3d;
  margin: 0;
  padding-bottom: 15px;
}

.hot-news-p {
  color: #5b6469;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11pt;
  text-align: end;
}

.hot-news-row-end {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  padding-bottom: 71px;
}

/* footer */
.footer {
  background-color: #1d2124;
  height: 90px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 13pt;
}

.copyright {
  color: white;
}
