* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('/fonts/Verdana.ttf');
  font-family: Verdana, sans-serif;
}

.page-bg {
  background: url('../img/background@1X.png') no-repeat;
  background-size: cover;
  /* width: 100vw;  */
  /* height: 100vh; */
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.nav-top {
  padding: 50px 0;
}

.nav-left {
  float: left;
}



.nav-right {
  float: right;
}

.nav-right p {
  font-family: Verdana;
  font-size: 18pt;
  color: rgba(255, 255, 255, 255);
  text-align: right;
}

.logo {
  float: left;
}

.logo img {
  width: 61px;
  height: 60px;
}

.logo-text {
  float: right;
  margin-left: 18px;
}

.logo-text h1 {
  font-family: Verdana-Bold;
  font-size: 29pt;
  color: rgba(255, 255, 255, 255);
  text-align: left;
}

.logo-text p:nth-child(2) {
  font-family: Verdana-Bold;
  font-size: 19pt;
  color: rgba(255, 255, 255, 255);
  text-align: left;
}

/* Tours */

.tours {
  height: 680px;
}

.tours-item {
  width: calc(100% / 3 - 46px);
  position: relative;
  margin-right: 69px;
  float: left;
}

.tours-item:nth-child(3n) {
  margin-right: 0;
}

.tours-item img {
  width: 100%;
}

.tours-item h6 {
  text-align: center;
  font-size: 18pt;
  color: rgba(255, 255, 255, 255);
  padding-top: 24px;
  padding-left: 84px;
  padding-right: 84px;
  padding-bottom: 58px;
}

.tours-view:hover {
  width: 100%;
  position: relative;
}

.tours-view:hover .tours-view-item {
  visibility: visible;
}

.tours-view:hover  h6 {
  color: #f26522;
  visibility: visible;
}

.tours-view-item {
  visibility: hidden;
  background-color: #f26522;
  bottom: 0px;
  position: absolute;
  width: 100%;
  color: rgba(255, 255, 255, 255);
} 

.a {
  display: inline-block;
  width: 50%;
}

.a p {
  font-size: 10pt;
  padding-left: 20px;
  padding-top: 20px;
}

.a h5 {
  font-size: 20pt;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-top: 5px;
}

.b {
  display: inline-block;
  font-size: 14pt;
  font-family: Verdana;

}

.b a{
  text-decoration: none;
  color: white;
}

.b i {
  padding-left: 15px;
  padding-right: 18px;
}

/* footer */

.footer {
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;
  color: rgba(255, 255, 255, 255);
  padding-bottom: 25px;
}

.footer p {
  display: inline-block;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
