/* @import url('../fonts/fonts.css'); */
* {
  font-family: 'montserrat-regular', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-bg {
  background: #3a4965;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 1012px;
  background: url('../img/bg-img.png') no-repeat;
}

.nav {
  background: rgba(0, 0, 0, 0.3);
}
.nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-hexagon {
  padding: 20px;
  /* padding: 20px 16px 19px; */

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: teal;
  font-size: 40pt;
  color: rgba(255, 255, 255, 255);
  font-family: 'Montserrat-Bold';
}

.logo-text {
  font-size: 20pt;
  color: white;
  padding-left: 8px;
  font-family: 'Montserrat-Regular';
}
.logo span {
  color: #18cfab;
  font-family: 'Montserrat-Bold';
}

.menu-ul {
  display: flex;
}

.menu-ul li {
  margin-right: 20px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.menu-ul a {
  text-decoration: none;
  color: #b8b8b8;
  text-transform: uppercase;
  font-size: 13pt;
  margin-top: 56px;
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  padding-bottom: 56px;
}

.menu-ul a:hover {
  border-bottom: 1px solid #18cfab;
  color: #18cfab;
}
.nav-main {
  text-align: center;
  padding-top: 250px;
  color: white;
}

.nav-main h3 {
  font-size: 35pt;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
}
.nav-main span {
  color: #18cfab;
  font-size: 35pt;
}
.nav-main h2 {
  font-size: 69pt;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 35px;
}
.nav-main h6 {
  font-size: 29pt;
  font-family: 'Montserrat-Regular';
  color: #d4d4d4;
}

.btn {
  padding-top: 140px;
}

.btn .btn-left,
.btn-right {
  padding: 27px 30px 22px 30px;
  font-size: 12pt;
  font-family: 'Montserrat-Bold';
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border-top: 5px solid white;
}

.btn-left {
  background-color: #18cfab;
  margin-right: 30px;
}

.btn-right {
  background-color: #00cbf6;
}

/* products */

.products {
  display: flex;
}

.products-item {
  width: calc(25%);
  height: 374px;
  background: #1c2a33;
  border-top: 5px solid #18cfab;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 48px;
}

.products-item-b {
  width: calc(25%);
  height: 374px;
  background: #18cfab;
  text-align: center;
  border-top: 5px solid #ffffff;
  padding-top: 95px;
  padding-bottom: 48px;
}

.products-item-p {
  padding-top: 45px;
  color: #19b99b;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 17pt;
}

.products-item-p-b {
  padding-top: 66px;
  color: white;
  font-size: 17pt;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}

.img-forma1 {
  width: 58px;
  height: 97px;
}

.img-forma2 {
  width: 93px;
  height: 75px;
}
.img-forma3 {
  width: 60px;
  height: 96px;
}
.img-forma4 {
  width: 99px;
  height: 76px;
}

/* our services */

.section-title {
  font-size: 36pt;
  color: #4e4e4e;
  padding-top: 82px;
  padding-bottom: 37px;
  text-align: center;
  font-family: 'Montserrat-Regular';
}

.section-title-line {
  margin-left: calc(100% / 2 - 38px);
  height: 7px;
  width: 76px;
  border-bottom: 1px solid #18cfab;
  border-top: 1px solid #18cfab;
  transform: skew(70deg);
  display: inline-block;
  margin-bottom: 70px;
}
.our-services-ul {
  display: flex;
  padding-bottom: 25px;
  width: 100%;
}
.our-services-ul li {
  position: relative;
  font-family: 'Montserrat-Regular';
}

.our-services-item {
  font-size: 16px;
  color: rgba(113, 113, 113, 255);
  padding: 27px 43px 30px;
  text-decoration: none;
  border: 1px solid #ebecec;
  background-color: #f8fcfe;
  flex-grow: 1;
  cursor: pointer;
}

.our-services-desc img {
  width: 194px;
  height: 147px;
}

.hidden {
  display: none;
}
.service-active {
  background: #18cfab;
}
.service-active a {
  background: #18cfab;
  color: white;
}
.service-active::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: calc(100% / 2 - 15px);
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #18cfab;
}

.our-services-desc {
  display: flex;
  margin-top: 25px;
  margin-bottom: 150px;
  font-family: 'Montserrat-Light';
  text-align: justify;
}
.our-services-desc img {
  border: 1px solid #b6b199;
}
.our-services-desc p {
  padding-left: 20px;
  font-size: 14pt;
  color: rgba(119, 119, 119, 255);
}

/* purchase section */

.purchase-section {
  height: 476px;
  width: 100%;
  text-align: center;
  background: url('../img/bg-purchase.png') no-repeat;
  background-size: cover, contain;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 0.9;
}

.purchase-section h2 {
  font-size: 33.55001pt;
  color: rgba(24, 207, 171, 255);
  text-transform: uppercase;
  padding-top: 128px;
  padding-bottom: 35px;
  font-family: 'Montserrat-Bold';
}

.purchase-section p {
  font-size: 16pt;
  color: rgba(216, 216, 216, 255);
  font-family: 'Montserrat-Regular';
  padding-bottom: 75px;
}

.purchase-section button {
  padding: 30px 25px 22px;
  text-transform: uppercase;
  font-size: 12.66233pt;
  background-color: #18cfab;
  font-family: 'Montserrat-Bold';
  margin-bottom: 94px;
  color: rgba(255, 255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border-top: 5px solid white;
}

.bg-black {
  background: rgba(0, 0, 0, 0.7);
}

/* our work */

.our-work-section {
  background-color: #f8fcfe;
  border-bottom: 3px solid #ebecec;
}

.our-work-ul {
  display: flex;
  justify-content: center;
}

.our-work-li {
  padding: 24px 25px 20px;
  background-color: #fff;
  border: 1px solid #ebecec;
  text-decoration: none;
  font-size: 13.99928pt;
  color: #979797;
  font-family: 'Montserrat-Regular';
  cursor: pointer;
}

.our-work-active {
  color: #18cfab;
  border-top: 3px solid #18cfab;
}

.our-work-li:hover {
  border-top: 3px solid #18cfab;
  color: #18cfab;
}

.our-work-items {
  padding-top: 71px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-work-item-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 34px;
  text-align: center;
  border-top: 3px solid #18cfab;
}

.our-work-img:hover .our-work-item-hover {
  display: block;
}

.our-work-item-link {
  font-size: 15px;
  border-radius: 100%;
  background: #f8fcfe;
  padding: 10px;
  border: 2px solid #18cfab;
  color: #18cfab;
}

.our-work-item-zoom {
  font-size: 15px;
  border-radius: 100%;
  background: #f8fcfe;
  padding: 10px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  color: white;
}

.our-work-item-hover-title {
  font-size: 15.64284pt;
  color: rgba(24, 207, 171, 255);
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 7px;
  font-family: 'Montserrat-Bold';
}

.our-work-item-hover-title-desc {
  font-size: 13.26529pt;
  color: rgba(138, 138, 138, 255);
  font-family: 'Montserrat-Regular';
}
.our-work-img {
  display: flex;
  position: relative;
}

.web-design,
.wordpress,
.landing-pages {
  display: none;
}

.load-more-div {
  padding-top: 71px;
  padding-bottom: 100px;
  text-align: center;
}

.load-more-div button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 21px;
  padding-left: 15px;
  font-size: 14pt;
  color: rgba(255, 255, 255, 255);
  background-color: #18cfab;
  font-family: 'Montserrat-Bold';
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.load-more img {
  padding-right: 15px;
  /* padding-top: 10px; */
  padding-left: 10px;
}

/* news section */
.news-items {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 130px;
}

.news-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 45px;
  position: relative;
  text-decoration: none;
}

.news-item-date {
  width: 68px;
  height: 66px;
  position: absolute;
  background: #203e38;
  right: 0;
  font-size: 14.42432pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-family: 'Montserrat-Regular';
}

.news-item-day {
  padding-top: 15px;
}

.news-item-desc {
  padding-bottom: 12px;
  border: 1px solid #ebecec;
  background-color: #f8fcfe;
}

.news-item-desc h6 {
  font-size: 15.47736pt;
  color: rgba(113, 113, 113, 255);
  padding-left: 13px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'Montserrat-Bold';
}

.news-item-desc span {
  font-size: 12.37128pt;
  color: rgba(119, 119, 119, 255);
  font-family: 'Montserrat-Regular';
  padding-left: 17px;
}

.news-item:hover .news-item-date {
  background-color: #18cfab;
}

.news-item:hover .news-item-desc h6 {
  color: #18cfab;
}

/* feedback */
.bg-feedback {
  background-color: rgba(0, 0, 0, 0.7);
  height: 851px;
  width: 100%;
}

.feedback {
  height: 851px;
  width: 100%;
  background: url('../img/bg-mountain.png') no-repeat;
  background-size: cover, contain;
  background-position: bottom;
  background-attachment: fixed;
}

.feedback .section-title {
  color: rgba(255, 255, 255, 255);
  font-family: 'Montserrat-Regular';
}

.feedback-mark {
  text-align: center;
}

.customer-feedback-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.customer-feedback-title {
  font-size: 30px;
  color: white;
  font-weight: 400;
  position: relative;
  margin-bottom: 60px;
}

.customer-feedback-carousel-container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.customer-feedback-area {
  height: 100%;
  width: auto;
  display: flex;
}

.customer-feedback-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.feedback-content {
  font-weight: 400;
  font-size: 14pt;
  color: rgba(187, 187, 187, 255);
  text-align: center;
  padding-bottom: 44px;
  font-family: 'Montserrat-Light';
}

.customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-name {
  font-size: 16pt;
  color: rgba(24, 207, 171, 255);
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  margin-bottom: 10px;
}

.customer-job {
  font-size: 12pt;
  color: rgba(187, 187, 187, 255);
  padding-bottom: 44px;
  font-family: 'Montserrat-Regular';
}

.customer-img-outher-shadow {
  height: 145px;
  width: 145px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 217, 181, 0.2);
  border: 1px solid rgba(168, 162, 162, 0.4);
}

.customer-img-solid-shadow {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18cfab;
}

.customer-img {
  height: 122px;
  width: 122px;
  border-radius: 100%;
  overflow: hidden;
}

.customer-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.customer-feedback-multiple-slider {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-img-outher-shadow-small {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  /* background-color: rgba(31, 217, 181, 0.2); */
  margin-right: 10px;
  transition: all 0.03s ease-in-out;
}

.customer-img-solid-shadow-small {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 217, 181, 0.2);
  cursor: pointer;
}

.customer-img-small {
  height: 62px;
  width: 62px;
  border-radius: 100%;
  box-shadow: 1px 1px 0px 2px rgba(31, 217, 181, 0.2);
  overflow: hidden;
}

.customer-img-small img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-btn {
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.slider-btn:hover {
  background-color: #18cfab;
  border-color: #18cfab;
}

/* footer */

.footer {
  height: 108px;
  width: 100%;
  background-color: #22353f;
  font-size: 14pt;
  color: rgba(174, 174, 174, 255);
  font-family: 'Montserrat-Light';
  text-align: center;
  padding-top: 47px;
}

.footer span {
  color: #18cfab;
}

/* white line section */

.white-line {
  width: 100%;
  height: 15px;
  background-color: white;
}
