ul {
  list-style: none;
  padding-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
}

.tabs {
  display: flex;
}

.tabs-text {
  display: none;
}

.tabs-title {
  padding: 25px;
  background-color: black;
  color: gold;
  cursor: pointer;
}

.tabs-title.active {
  background-color: gold;
  color: black;
}
