@media screen and (max-width: 639px) {
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  // header-bg
  .header-bg {
    background: url('../img/header-640.png') no-repeat;
    height: 346px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2 {
      font-size: 36pt;
      padding-left: 35px;
    }
    a {
      font-size: 24pt;
      padding-left: 35px;
    }
  }

  // products
  .space-between {
    height: 6px;
  }

  .products-item {
    height: 150px;
  }
  .products-img {
    height: 150px;
    font-size: 27pt;
  }
  .products-img-link {
    height: 150px;
    font-size: 27pt;
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .header-bg {
    background: url('../img/header-980.png') no-repeat;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    h2 {
      font-size: 54pt;
      padding-left: 35px;
    }
    p {
      padding-top: 57px;
    }
    a {
      font-size: 34pt;
      padding-left: 35px;
    }
  }

  // products

  .space-between-up {
    height: 6px;
    width: 100%;
    background: white;
  }

  .products {
    display: flex;

    .space-between {
      display: none;
    }
    .products-item {
      height: 327px;

      .products-img {
        width: 100%;
        h1 {
          font-size: 34pt;
        }
      }
      .products-img-link {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
}
