@media screen and (max-width: 639px) {
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .footer {
    background: #acd8ad;
    text-align: center;
    font-size: 15pt;
    color: white;
    font-family: 'Montserrat';
    padding: 28px 0px 25px 0;
    margin: 50px 0 20px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
}

@media scren and (min-width: 1200px) {
}
