@media screen and (max-width: 639px) {
  .navbar {
    &__title2 {
      display: none;
    }
    &__logo {
      display: none;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .navbar {
    &__title {
      font-size: 24pt;
      padding: 24px 38px;
    }
    &__burger {
      font-size: 24pt;
      padding: 31px 38px;
    }
    &__title2 {
      display: none;
    }
    &__logo {
      display: none;
    }

    &__title2 ul {
      padding-left: 37px;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .navbar {
    &__title {
      display: none;
    }
    &__burger {
      display: none;
    }
    &__title2 {
      ul {
        padding-left: 30px;
      }
    }
  }
}

@media scren and (min-width: 1200px) {
}
