@media screen and (max-width: 639px) {
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  // menu list
  .menu-list {
    &__title h2 {
      font-size: 27pt;
      padding-left: 21px;
    }
    &__title p {
      font-size: 15pt;
      padding-left: 22px;
    }
    &__left-menu-title {
      font-size: 27pt;
      padding-left: 35px;
    }
    &__right-menu-title {
      font-size: 27pt;
      padding-left: 35px;
    }
    &__header-text {
      font-size: 20pt;
      padding-left: 35px;
    }
    &__header-img img {
      width: 42px;
      height: 42px;
    }
    &__content-title {
      font-size: 17pt;
      padding-left: 15px;
    }
    &__content-price {
      font-size: 17pt;
    }
    &__content-desc {
      padding-left: 35px;
      font-size: 17px;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}
