@font-face {
    font-family: 'arimo-bold';
    src: url('arimo-bold-webfont.woff2') format('woff2'),
         url('arimo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'arimo-regular';
    src: url('arimo-regular-webfont.woff2') format('woff2'),
         url('arimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}