.header-bg {
  background: url('../img/header-fon.png') no-repeat;
  height: 173px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.header-bg h2 {
  font-size: 12pt;
  color: white;
  padding-left: 12px;
  padding-top: 13px;
  font-family: 'Lato-Bold', sans-serif;
}

.header-bg p {
  padding-top: 9px;
}

.header-bg a {
  font-size: 11pt;
  padding-left: 12px;
  color: rgba(166, 214, 224, 255);
  text-decoration: none;
}

//  products

.products-item {
  width: 100%;
  height: 100px;
  display: flex;
}

.products-img {
  // height: 100px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 17pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-pizza-delivery {
  background: url('../img/delivery-fon.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-salads {
  background: url('../img/salads-fon.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-desserts {
  background: url('../img/Desserts-fon.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.products-img h1 {
  font-family: 'Lato-Bold', sans-serif;
}

.products-img-link {
  height: 75px;
  width: 20%;
  background: $bgGreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  background: white;
  width: 100%;
  height: 3px;
}
