.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $darkGrey;
  align-items: center;
  // height: 37px;
  width: 100%;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 12px 12px 12px 14px;
    color: white;
  }
  &__burger {
    color: white;
    padding: 12px;
    cursor: pointer;
  }
  &__burger:hover {
    background: $burgerGrey;
  }
  // ------
  // title2
  // ------
  &__title2 ul {
    display: flex;
  }
  &__title2 li {
    padding: 30px 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
  }
  &__logo {
    display: flex;
    padding-right: 30px;
    padding: 5px 30px 5px 0px;
  }
}
