.menu-list {
  //   background: #000;
  &__title {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  &__title h2 {
    color: rgba(63, 64, 67, 255);
    font-size: 18px;
    font-family: 'Lato';
    padding-left: 12px;
    text-transform: uppercase;
  }
  &__title p {
    font-size: 13px;
    padding-left: 12px;
    font-family: 'Lato';
    color: rgba(203, 204, 206, 255);
  }

  &__left-menu-title {
    text-transform: uppercase;
    background-color: $titlebgDark;
    color: $bgGreen;
    // width: 100%;
    font-family: 'Lato';
    padding: 12px 0px 11px 19px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header-text {
    font-family: 'Lato';
    font-size: 18px;
    text-transform: uppercase;
    padding: 19px 0 14px 19px;
  }
  &__header-img {
    padding-top: 13px;
    padding-right: 18px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 19px 18px 14px 19px;
  }
  &__content-title {
    font-family: 'Lato';
    font-size: 13px;
    text-transform: uppercase;
    // padding: 19px 0 14px 19px;
  }

  &__content-price {
    // padding-top: 18px;
    // padding-right: 20px;
    font-family: 'Lato-Bold';
    font-weight: bold;
    font-size: 18px;
  }

  &__content-desc {
    padding: 8px 0 11px 19px;
    font-family: 'Lato';
    font-size: 12px;
    color: rgba(63, 64, 67, 255);
    padding-right: 18px;
    text-align: justify;
  }
  &__right-menu-title {
    text-transform: uppercase;
    background-color: $bgGreen;
    color: $titlebgDark;
    font-family: 'Lato';
    padding: 12px 0px 11px 19px;
  }
}
