@import 'reset';
/** if you have separate file for variables and mixins, or fonts - import it here **/

$darkGrey: #373c3f;
$burgerGrey: #202529;
$bgGreen: #acd8ad;
$titlebgDark: #3f4043;

@import 'header';
@import 'content';
@import 'menu-list';
@import 'footer';

/** MEDIA **/
@import 'media/all-media';
