* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('/fonts/Verdana.ttf');
  font-family: Verdana, sans-serif;
}

.page-bg {
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: red;
  color: white;
  height: 71px;
  /* opacity: 0.3; */
}

.logo {
  /* display: inline-block; */
  font-size: 20pt;
  font-family: Verdana-Bold;
  padding-top: 22px;
  padding-bottom: 19px;
  opacity: 1;
  float: left;
}

.header-menu {
  float: right;
  font-family: Verdana;
  font-size: 14pt;
  padding-top: 23px;
}

.header-menu-icons {
  display: inline-block;
}

.header-menu-icons a {
  padding-left: 25px;
}

.header-menu-icons img {
  width: 20px;
  height: 20px;
  color: white;
}

.header-menu-welcome {
  display: inline-block;
  padding-left: 25px;
}

.header-menu-welcome a {
  color: #336a4b;
  text-decoration: none;
}

.header-menu-welcome p::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 23px;
  background-color: grey;
  margin-right: 25px;
  transform: translateY(5px);
}

/*  */

.form-signup {
  display: block;
  max-width: 500px;
  background-color: yellow;
  height: 620px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}

.signup-head-line {
  display: flex;
}

.sign-up {
  display: inline-block;
  margin-top: 20px;
  font-size: 17pt;
  margin-left: 42px;
  margin-right: 220px;
  font-family: Verdana;
}

.sign-up::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #3cb878;
  transform: translate(-42px, 2px);
}

.login {
  display: block;
  margin-top: 24px;
}

.login a {
  color: #3cb878;
  text-decoration: none;
  font-size: 14pt;
  font-family: Verdana;
}

.container-form {
  margin: 0 auto;
  width: 400px;
}

/* Social button area */

.social-login {
  padding-top: 15px;
  padding-bottom: 25px;
}

.sign-up-form-button-area {
  display: flex;
  margin-top: 15px;
  margin-left: 41px;
  margin-bottom: 20px;
}

.btn {
  max-width: 177px;
  max-height: 60px;
  width: 177px;
  height: 60px;
  border-radius: 3px;
  margin-left: 15px;
}

.facebook {
  background-color: #305db8;
  border: 2px solid #305db8;
}

.google {
  background-color: #df4a32;
  border: 2px solid #df4a32;
}

.f-icon {
  width: auto;
  height: 24px;
  transform: translateY(7px);
  transform: translateX(-10px);
}

.g-icon {
  width: auto;
  height: 20px;
  transform: translateY(7px);
  transform: translateX(-10px);
}

.btn-title {
  display: inline-block;
  color: white;
  font-weight: normal;
  transform: translateY(-4px);
  font-size: 16px;
}

.btn-title::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 23px;
  background-color: #2b54a5;
  margin-right: 15px;
  transform: translateY(5px);
}

.google::before {
  background-color: #c8422d;
  transform: translateY(6px);
}

/* Or part */

.signup-or {
  position: relative;
  text-align: center;
}

.text-or {
  font-size: 16px;
  color: #848484;
  display: inline-block;
  margin-bottom: 17px;
}

.text-or::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 160px;
  background-color: #eaeaea;
  transform: translate(-17px, -3px);
}

.text-or::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 160px;
  background-color: #eaeaea;
  transform: translate(17px, -3px);
}

/* SignUp form  */

.form-input {
  max-width: 350px;
  width: 338px;
  margin-bottom: 18px;
  max-height: 50px;
  height: 18px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 13px 15px;
  margin-left: 15px;
}

.form-input:focus {
  box-shadow: 0 2px 10px -5px #888888;
  outline: none;
}

.checkbox {
  display: block;
  max-width: 368px;
  margin: 0 auto;
}

.checkbox input {
  display: none;
}

.inside-link a {
  text-decoration: none;
  color: #3cb878;
}

.checkbox span.agreement {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  margin-right: 43px;
  font-family: Verdana;
}

.checkbox span.agreement::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #eaeaea;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-2px);
  background-color: white !important;
  background-image: url('../img/check-icon.png');
  background-size: contain;
  background-blend-mode: color;
}

.checkbox input:checked + span.agreement::before {
  background-blend-mode: normal;
}

.create-acc {
  max-width: 370px;
  width: 369px;
  height: 45px;
  border: 2px solid #3cb878;
  border-radius: 3px;
  margin: 18px auto;
  background-color: #3cb878;
  transition: all 0.3s ease-out;
  margin-left: 15px;
  font-size: 16pt;
  font-family: Verdana;
}

.create-acc:hover {
  border-color: white;
}

.create-acc-title {
  color: white;
  font-size: 17px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
