@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
