* {
  font-family: arimo_bold sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-bg {
  background: #3a4965;
  width: 100vw;
  height: 100vh;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.table {
  width: 1000px;
  text-transform: uppercase;
  padding: 25px;
  border-spacing: 1px;
  color: #484848;
  border: 1px solid #cfcfcf;
  background: #fafafa;
  margin: 0 auto;
}

.header-choose {
  width: 20.2%;
  background-color: #fafafa;
  margin: 0;
  text-align: center;
}

.choose-your {
  font-size: 18px;
}

.pricing-plan {
  font-size: 30px;
}

.price-dollar {
  font-size: 50pt;
  font-family: Arimo-Bold;
}

.price-dollar-coin {
  font-size: 25pt;
}

.price-dollar-def {
  font-size: 15pt;
  font-family: arial-regular;
}

.table th {
  border: 1px solid #cfcfcf;
  font-family: Arimo-Bold, Arimo-Regular sans-serif !important;
}

.table td {
  border: 1px solid #cfcfcf;
  font-family: Arimo-Bold, Arimo-Regular sans-serif !important;
}

.header-choose-plan {
  font-size: 24pt;
  font-family: Arimo-Bold;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 20%;
}

.storage {
  background: #f2f2f2;
  text-align: center;
}

.storage td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.bandwith {
  text-align: center;
  background: #e3e3e3;
}

.bandwith td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.email {
  background: #f2f2f2;
  text-align: center;
}

.email td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.support {
  background: #e3e3e3;
  text-align: center;
}

.support td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.products {
  background: #f2f2f2;
  text-align: center;
}

.products td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.users {
  background: #e3e3e3;
  text-align: center;
}

.users td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.storage,
.bandwith,
.email,
.support,
.products,
.users i {
  font-size: 18px;
}

/* buttons */

.button {
  background: #e3e3e3;
  text-align: center;
}

.button td {
  padding-top: 29px;
  padding-bottom: 28px;
}

.button button {
  padding: 18px 23px;
  font-size: 16pt;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
}

.button button:hover {
  opacity: 1;
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
