* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('fonts/GothamRoundedBold_21016.ttf');
  font-family: Gotham;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

li {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 35px;
}

li a {
  color: #16a085;
  margin-right: 70px;
  font-size: 18pt;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.home {
  margin-left: 330px;
}

/* image */

img {
  width: 100%;
  height: 790px;
}

/* start */

.start {
  width: 100%;
  background: #f5f6f7;
  text-align: center;
}

.start h2,
p {
  text-align: center;
}

.start h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
  padding-top: 56px;
  padding-bottom: 34px;
}

.start p {
  font-size: 16pt;
  padding-bottom: 41px;
  font-family: 'Roboto', sans-serif;
}

.btn {
  background-color: #16a085;
  color: #c1e6de;
  padding: 23px 45px 18px 43px;
  margin-bottom: 94px;
  font-size: 12pt;

  font-family: Gotham;
}

/* footer */

footer p {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  padding-top: 47px;
  padding-bottom: 45px;
}
